
body {
    background-color:rgb(245, 244, 181);
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px; /* or 950px */
    }
.navbar-light {
    background-color: sandybrown;
}
  
.bg-primary {
    background-color:#5f9ea0!important;
}

.btn-primary {
    background-color: sandybrown;
    border-width: 2px;
    border-color:seagreen;
}

.logo1 {
    display: block;
    margin-right: auto;
    width: 100%;
    }
        
.logo2 {
    display: block;
    margin-left: auto;
    margin-top: -3px;
    width: 60%;
    } 

.casestudyimg {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    }

.casestudyimg-2 {
    width: 100%;
    height: auto;
    padding: 1em 0 1em 0;
    }

.casestudyimg-3 {
    max-width: 100%;
    height: auto;
    padding: 1em 0 1em 0;
    }

.row {
    margin: 2em 2% 2em 2%;
    }

.navbar {
    padding: 0 2% 0 2%;
    }
    
svg {
    margin-left: .25em;
}    

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:darkslategray;
    font-size: 2em;
    line-height: 110%;
    margin: 0 0 .25em 0;
    } 

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:darkslategray;
    font-size: 1.5em;
    line-height: 115%;
    }   
      
.p1 {
    font-family: monospace;
    color:darkslategray;
    font-size: 1em;
    line-height: 145%;
    }

.p2 {
    font-family: monospace;
    color:darkslategray;
    font-size: 1.25em;
    line-height: 145%;
    padding: 0 1em 0 1em;
    }

.figcaption {
    font-family: monospace;
    color:darkslategray;
    font-size: .5em;
    }

.p1-footer {
    font-family: monospace;
    color:lemonchiffon;
    font-size: 1em;
    line-height: 145%;
    }

.text-uppercase {
    font-family: monospace;
    color:lemonchiffon;
    font-size: 1.25em;
    line-height: 145%;
    }

li {
    font-family: monospace;
    color:darkslategray;
    font-size: 1em;
    line-height: 145%;
    }


.li:any-link {
    color:darkslategray;
}    

.flex-container-contact {
    display: inline-block;
    margin: 0 1em 0 0;
    }

.img-responsive {
    display: inline-block;
    max-width: 100%;
    max-height: auto;
    }

.img-responsive-2 {
    float: right;
    max-width: 100%;
    max-height: auto;
    }